*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: white;
  font-weight: 500;

  background-color: #849d8f;
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: center 0;
  transition: all 500ms;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
}

.container-positioner {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.page-header {
  padding-top: 9px;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-bottom: 150px;
}

.site-navigation {
  display: flex;
  align-items: flex-start;
  width: 550px;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 11px;

  list-style: none;
}

.site-navigation li {
  margin-top: 5px;
  margin-right: 2px;
  padding-bottom: 10px;
}

.site-navigation a {
  position: relative;

  color: #ffffff;

  padding: 7px 13px;
  border-radius: 15px;
  text-decoration: none;
}

.site-navigation > li > a::after {
  content: '';

  position: absolute;
  left: 13px;
  right: 13px;
  bottom: 7px;

  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.site-navigation > li:hover a {
  color: #000000;

  background-color: #ffffff;
}

.site-navigation > li:hover > a:active {
  box-shadow: inset 0 3px 4px -2px #000000;
}

.catalog-hover-menu {
  position: absolute;
  top: 32px;
  left: -8px;
  z-index: -1;

  opacity: 0;
  width: 142px;
  margin: 0;
  padding: 0;

  background-color: #f8f7f4;
  list-style: none;
  border-radius: 6px;
  box-shadow: 0 8px 40px -8px rgba(0, 0, 0, 0.6);
}

.site-navigation-catalog {
  position: relative;
}

.site-navigation-catalog:hover .catalog-hover-menu {
  opacity: 1;
  z-index: 1;
}

.catalog-hover-menu li {
  margin: 0;
  padding: 0;
}

.catalog-hover-menu a {
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 19px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: #000000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border-radius: 0;
}

.catalog-hover-menu .catalog-new {
  position: relative;

  padding: 11px;
  padding-left: 19px;

  font-weight: bold;
}

.catalog-hover-menu .catalog-new::after {
  content: '';

  position: absolute;
  left: 5px;
  right: 9px;
  bottom: 0;
  z-index: 10;

  height: 1px;
  background-color: #d1d0ce;
}

.catalog-hover-menu li:first-child a {
 border-radius: 6px 6px 0 0;
}

.catalog-hover-menu li:last-child a {
  border-radius: 0 0 6px 6px;
}

.site-navigation .catalog-hover-menu a:hover,
.site-navigation .catalog-hover-menu a:focus {
  background-color: #fbded8;
}

.site-navigation .catalog-hover-menu a:active {
  background-color: #f6b5a5;
  box-shadow: 0 0 0 0;
}

.main-search {
  margin-top: 13px;
  margin-left: 159px;
  width: 43px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.main-header-wrapper {
  position: relative;

  width: 33px;
  height: 33px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.main-header-wrapper svg {
  width: 17px;
  height: 17px;

  margin-top: 8px;
  margin-left: 8px;
}

.main-search:hover .main-header-wrapper {
  background-color: #ffffff;
}

.main-search:hover svg path {
  fill: #000000;
}

.search-modal {
  position: absolute;
  top: 37px;
  left: -309px;
  z-index: -1;

  opacity: 0;
  width: 342px;
  padding: 20px 16px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 4px 8px 40px -8px rgba(0, 0, 0, 0.6);
}

.main-search:hover .search-modal {
  opacity: 1;
  z-index: 1;
}

.input {
  width: 100%;
  padding: 12px 14px;

  font-weight: bold;

  border: 1px solid #e5e5e3;
  border-radius: 5px;
}


.input::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
}

.input:hover {
  border: 2px solid #c7c6c5;
  padding: 11px 13px;
}

.input:focus {
  height: inherit;
  padding: 11px 13px;

  border: 2px solid #8fbdec;
  outline: 0;
}

.user-navigation {
  position: relative;

  margin: 0;
  padding: 0;
  margin-top: 14px;
  padding-bottom: 10px;

  list-style: none;
}

.user-navigation-enter {
  margin: 0;
  padding: 0;
  margin-left: 11px;
}

.user-navigation-enter a {
  display: block;
  width: 92px;
  padding: 7px 0;
  padding-left: 25px;

  text-align: center;

  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  font-weight: 500;
  border-radius: 20px;
}

.user-navigation-enter svg {
  position: absolute;

  top: 6px;
  left: 26px;
}

.user-navigation:hover .user-navigation-enter a {
  color: #000000;
  background: #ffffff;
}

.user-navigation:hover path,
.user-navigation:hover polygon {
  fill: #000000;
}

.login-form-modal {
  position: absolute;
  top: 36px;
  left: -173px;
  z-index: -1;

  opacity: 0;
  width: 277px;
  padding: 20px 18px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 8px 40px -8px rgba(0, 0, 0, 0.6);
}

.user-navigation:hover .login-form-modal {
  z-index: 1;

  opacity: 1;
}

.login-form-modal p {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

.login-form-modal .input {
  padding: 9px 15px;
}

.login-form-modal .input:hover,
.login-form-modal .input:focus {
  padding: 8px 14px;
}

.login-form-modal .input:hover {
  padding: 8px 14px;
}

.login-form-wrapper {
  display: flex;
}

.button {
  padding: 11px 25px;

  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);

  background-image: linear-gradient(to top, #e74a35, #f26843);
  border: 0;
  border-radius: 20px;
  box-shadow: 0 2px 0 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
  box-shadow: 0 2px 0 0 rgba(172, 16, 0, 1);
  outline: 0;
}

.button:active {
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 0 0 rgba(172, 16, 0, 1);
}

.login-form-aside {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

.login-form-aside a {
  padding: 0;
  margin: 0;

  font-size: 13px;
  line-height: 18px;
  color: #323232;
}

.login-form-aside a:hover {
  color: #e84d37;
}

.main-header-backet {
  position: relative;

  margin-top: 14px;
  margin-left: 10px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}

.main-header-backet a {
  display: block;
  padding: 8px;
  padding-left: 42px;
  padding-right: 34px;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.main-header-backet:hover {
  background-color: #ffffff;
}

.main-header-backet:hover a {
  color: #000000;
}

.main-header-backet svg {
  position: absolute;
  top: 6px;
  left: 15px;
}

.main-header-backet:hover svg path,
.main-header-backet:hover svg circle {
  fill: #000000;
}

.shop-schedule {
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-top: -6px;
}

.shop-schedule p {
  padding: 0;
  margin: 0;
}

p.shop-work-time {
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.shop-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.index-main {
  position: relative;
  z-index: 50;
}

.main-slider {
  position: relative;
}

.main-slider .slider-gallery {
  min-height: 350px;
  padding: 0;
  margin: 0;
  padding-right: 54px;

  list-style: none;
}

.slider-gallery li {
  position: absolute;

  width: 690px;
  padding: 0;
  margin: 0 auto;
  margin-top: 125px;
  margin-left: 229px;

  opacity: 0;
  transition: all 500ms;
}

.slider-gallery h3 {
  padding: 0;
  margin: 0;

  font-size: 60px;
  line-height: 61px;
  text-align: center;
  font-weight: 700;
}

.slider-gallery-btn {
  position: absolute;
  left: 462px;
  bottom: 13px;

  display: block;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 29px;
  padding: 9px 40px;

  border-radius: 50px
}

.main-slide.show {
  opacity: 1;
  z-index: 1;
  transition: all 500ms;
}

.slider-control {
  position: absolute;
  top: 281px;
  left: -12px;

  list-style: none;
}

.slider-control li {
  display: inline-block;
  margin-right: 5px;
}

.slider-control button {
  width: 20px;
  height: 20px;

  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 50%;
}

.slider-control button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slider-control .slide-show button {
  background-color: #ffffff;
}

.profitable-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 30px;

  list-style: none;
}

.profitable-list li {
  width: 560px;

  border-radius: 15px;
}

.profitable-list li:first-child {
  background: #6f0006 url('../img/raspberry-background.jpg') no-repeat;
}

.profitable-list li:last-child {
  background: #653f2f url('../img/chocolate-background.jpg') no-repeat;
}

.profitable-list h3 {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 19px;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.profitable-list p {
  margin: 0;
  padding: 0;
  margin-top: 14px;
  margin-left: 19px;

  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.profitable-list button {
  float: right;
  margin-right: 21px;
  margin-top: 45px;
  margin-bottom: 25px;
  padding: 10px 22px;
  border-radius: 50px;

  text-shadow: none;
}

.hit-products-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 40px;

  list-style: none;
}

.hit-products-list li {
  position: relative;

  width: 267px;;
  padding: 0;
  margin: 0;
}

.hit-products-list li::after {
  content: url('../img/hit-icon.svg');

  position: absolute;
  top: 0;
  left: 0;
}

.hit-products-list .hit-product-price {
  position: absolute;
  left: 0;
  top: 164px;

  font-size: 45px;
  line-height: 45px;
}

.hit-products-list .hit-product-price span {
  margin-left: 36px;

  font-size: 30px;
  line-height: 45px;
}

.hit-products-list .hit-product-price span::after {
  content: url('../img/ла.svg');

  position: absolute;
  top: 6px;
  left: 80px;
}

.hit-products-list a {
  display: block;
  margin-top: 7px;

  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.hit-products-list a:hover {
  color: #ffbc9e;
}

.hit-products-list a span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hit-products-list a:hover span {
  border-color: rgba(255, 188, 158, 0.2);
}

.shop-features {
  margin-top: 38px;
}

.features-background {
  padding-top: 5px;

  color: #323232;

  background: #e3d1a8 url('../img/features-background.jpg') repeat-x;
  border-radius: 15px;
}

.shop-features h2 {
  margin-left: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  margin: 0;
  padding: 0;
  padding-left: 76px;
  padding-bottom: 24px;

  list-style: none;
}

.features-list li {
  position: relative;

  display: inline-block;
  width: 480px;
  margin-top: 1px;
  margin-right: 83px;

  vertical-align: top;
}

.features-list li::before {
  content: url('../img/icecream-icon.svg');

  position: absolute;
  top: -13px;
  left: -56px;
}

.features-list li:nth-child(2)::before {
  content: url('../img/cow-icon.svg');
}

.features-list li:nth-child(3)::before {
  content: url('../img/leaf-icon.svg');
}

.features-list li:nth-child(4)::before {
  content: url('../img/termometer-icon.svg');
}

.features-list li:nth-child(2n) {
  margin-right: 0;
}

.features-list li:nth-child(n + 3) {
  margin-top: 22px;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section-wrapper section {
  width: 560px;

  border-radius: 15px;
}

.blog-news {
  padding-right: 255px;

  background: #ffffff url('../img/strawberry-background.jpg') no-repeat;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  margin-left: 20px;
}

.blog-news a {
  display: block;
  margin-top: 4px;
  margin-left: 20px;
  margin-bottom: 81px;

  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
}

.blog-news a:hover {
  color: #e84d37;
}

.dispatch-form {
  background: #fe9e90 repeating-linear-gradient(135deg,
    white 8px,
    #92cdff 8px,
    #92cdff 15px,
    white 15px,
    white 22px,
    #fe9e90 22px,
    #fe9e90 29px,
    white 29px,
    white 36px
    );
    padding: 6px;
}

.dispatch-form-wrapper {
  background-color: white;
  border-radius: 15px;
  padding: 28px 20px;
}

.dispatch-form-wrapper p {
  margin: 0;
  padding: 0;

  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.dispatch-email-form input {
  width: 368px;
  margin-top: 36px;
  margin-bottom: 6px;
}

.dispatch-email-form input::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.dispatch-email-form input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.dispatch-email-form input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.dispatch-email-form .button {
  display: inline;
  padding: 11px 18px;
  margin-left: 8px;
  border-radius: 30px;
}
